<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>指紋辨識</title>
    <h1>Fingerprint Classification</h1>
    <form action="{{url_for('predict')}}", method="post", enctype="multipart/form-data">
        <input type="file" name="file" placeholder="Choose fingerprint image" required>

        <button type="submit">Predict</button>
    </form>
    <h4>Fingerprint ID: {{prediction_id}}</h4>
    <img src="{{img}}">
</head>
<body>
    
</body>
</html>