<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{url_for('static', filename='dist/css/styles.css')}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <title>指紋辨識 DEMO</title>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{url_for('index')}}">Fingerprint Recognition</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ms-3" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="{{url_for('index')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Research
                        </a>
                        <div class="sb-sidenav-menu-heading">System</div>
                        <a class="nav-link active" href="{{url_for('classification')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Classification DEMO
                        </a>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container px-4">
                    <h1 class="mt-4">Fingerprint Recognition</h1>
                    <form action="{{url_for('/classification/results')}}", method="post", enctype="multipart/form-data">
                        <div class="btn-group my-4" role="group" aria-label="Basic radio toggle button group">
                            <input name="methods" type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="supervised" checked>
                            <label class="btn btn-outline-primary" for="btnradio1">Supervised(ResNet50)</label>
                                  
                            <input name="methods" type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="classical">
                            <label class="btn btn-outline-primary" for="btnradio4">Classical</label>

                            <input name="methods" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="simulator">
                            <label class="btn btn-outline-primary" for="btnradio2">Classical+Quantum(Simulator)</label>
                                  
                            <input name="methods" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="statevector">
                            <label class="btn btn-outline-primary" for="btnradio3">Classical+Quantum(Statevector)</label>                
                        </div>
                        <div class="input-group mb-3">
                            <input type="file" name="file" class="form-control" id="inputGroupFile02" required>
                            <button type="submit" class="btn btn-primary">預測</button>
                        </div>
                    </form>                                        
                    <h2>{{pre_trained}} Method</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Groundtruth</th>
                            <th scope="col">Predicted</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>                         
                            <th scope="row">ID</th>
                            <td>{{groundtruth_id}}</td>
                            <td>{{prediction_id}}</td>
                          </tr>
                          <tr>                 
                            <th scope="row">Image</th>    
                            <td><img src="{{groundtruth_img}}" width="20%"></td>
                            <td><img alt="照片不存在" src="{{pred_img}}" width="20%"></td>
                          </tr>
                          <tr>
                            <th scope="row">Correct</th>
                            <td colspan="2"><b>{{correct}}</b></td>
                          </tr>                        
                        </tbody>
                      </table>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Allen LIN 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='dist/js/scripts.js')}}"></script>
</body>
</html>